.button {
    background: linear-gradient(90deg, #E5EFFA, #0088D1);
    color: #FFF;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 1s linear;
    width: 100%;
}
.button:hover {
    background: #0088D1;
}
.button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}